* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/background_fazenda.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#card_principal {
    text-align: center;
    margin-top: 50px;
    display: flex;
}

#box_info {
    color: white;
    background-color: black;
    width: 200px;
    height: 100px;
    margin-left: 50px;
    align-items: center;
}

#fazendeiro_clicker {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#box1_cards {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

#card_animais {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 400px;
    height: 200px;
    margin-right: 80px;
    border-radius: 10px;
    overflow: hidden;
    color: white;

}

#box2_cards {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

#img_animals {
    width: 200px;
    height: 200px;
}

#descricao_card {
    text-align: center;
}

button{
    width: 150px;
    height: 40px;
    
}